


.Yearbtn{

    margin-left: 1300px;
   width: 8%;
   height: 5vh;
   border-radius: 5px;
    text-align: center;
   font-size: 15px;
   border: 1px solid violet ;
   font-weight: bold;
   background-color: transparent;
   
}
